:root{
    --gap:24px
}

header{
 display: flex;
 flex-direction: column;
 align-items: center;}

body{
    font-family:system-ui,Segoe UI,Roboto,Helvetica,Arial;
    color:#ffffff;
    margin:0;
    padding:20px;
    background:#2f2b31}

.grid{
    display:flex; 
    align-items: center; 
    flex-direction: column; 
    gap: var(--gap)
}

.card{
    background:#fff; 
    max-width: 1400px; 
    border-radius:8px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block
}

.loader{
    width:48px;
    height:48px;
    border:4px solid #ddd;
    border-top-color:#3b82f6;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:28px auto
}

@keyframes 
spin
{
    to{transform:rotate(360deg)}
}

.center{
    text-align:center
}

header{
    margin-bottom:16px
}