/*Variables and global styles */

:root {

  --color-background: #fff;
  --color-text: #111;
  --color-grey: #666;

  --container-nav: 77rem;

  --container: 108rem;
  --container-4cols: 71rem;
  --gap: clamp(1.5rem, 2.66vw ,3rem);
  --border-radius: 1rem;

  --block-gap: clamp(4rem, 7.01vw ,8rem);

  --title: clamp(3rem, 5.3vw, 6rem);
  --title-line-height: 1.2;

  --h1: clamp(2rem, 3.55vw, 4rem);
  --h1-line-height: 1.2;

  --h2: clamp(1.5rem, 2.66vw ,3rem);
  --h2-line-height: 1.33;

  --h3: clamp(1.125rem, 2vw ,2.25rem);
  --h3-line-height: 1.4;

  --subheader-size: clamp(0.875rem, 1.55vw ,1.75rem);
  --subheader-line-height: 1.286;

  --p-size: clamp(1rem, 1.77vw ,2rem);
  --p-line-height: 1.3125;

  --p-small-size: clamp(0.75rem, 1.33vw ,1.5rem);
  --p-small-line-height: 1.33;

  --small-gap: clamp(0.5rem, 0.887vw ,1rem);
  --medium-gap: clamp(2rem, 3.55vw ,4rem);

  --p-post-size: clamp(1rem, 1.1vw ,1.25rem);
  --p-post-line-height: 1.7;

  --h2-post-size: clamp(1.5rem, 1.99vw ,2.25rem);
  --h2-post-line-height: 1.33;

  --h3-post-size: clamp(1.25rem, 1.55vw ,1.75rem);
  --h3-post-line-height: 1.4;

  --transform-nav: calc(-1 * var(--gap));
  --nav-width: calc(100% + (var(--gap) * 2));

}

main {
  margin-top: 4rem;
}

.h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 400;
  text-transform: uppercase;
}

.h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
  font-weight: 500;
}

.h3 {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
  font-weight: 500;
}


.subheader {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
  color: var(--color-grey);
}

.p {
  font-size: var(--p-size);
  line-height: var(--p-line-height);
  color: var(--color-text);
  font-weight: 400;
}

.p--small {
  font-size: var(--p-small-size);
  line-height: var(--p-small-line-height);
  font-weight: 400;
}

.grey {
  color: var(--color-grey);
}

.p-post {
  font-size: var(--p-post-size);
  line-height: var(--p-post-line-height);
  color: var(--color-text);
}

.h3-post {
  font-size: var(--h3-post-size);
  line-height: var(--h3-post-line-height);
  font-weight: 500;
}

.post-content h2 em,
.post-content h3 em {
  display: block; /* Переносит подпись на новую строку */
  font-size: 0.8em; /* Делает текст меньше относительно заголовка */
  font-weight: 400; /* Убирает жирность */
  font-style: normal; /* Убирает сам наклон курсива, если он тебе не нужен */
  color: #6b7280; /* Делает цвет приглушенным (серым) */
  margin-top: 0.3rem; /* Небольшой отступ сверху */
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* GAPS */

.small-gap {
  margin-bottom: var(--small-gap);
}

.gap {
  margin-bottom: var(--gap);
}

/* ROUNDNESS */

.border-radius {
  border-radius: var(--border-radius);
}


/* CONTAINER */

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--gap);
}



.container--block {
  max-width: var(--container);
  margin: var(--block-gap) auto;
  padding: 0 var(--gap);
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap);  
}

.cols4 {
  grid-column: 2 / 6;
}

.mobile-only {
  display: none;
}

@media (max-width: 860px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .cols4 {
  grid-column: 1 / 5;
  }

}



.cards-block__header {
  margin-bottom: var(--gap);
}

.about-time {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.about-time__left {
  grid-column: span 1;
}

.about-time__right {
  grid-column: span 3;
}

.about-header {
  grid-column: 3 / 6;
}

@media (max-width: 860px) {
  .about-header {
  grid-column: 2 / 5;
}
}


/* Button effect */

.button--effect {
  font-weight: 600;
  letter-spacing: 0.02em;
  padding: 0.35rem 0.75rem;
  border-radius: 0.35rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

/* Создаем верхний слой прямо в CSS */
.button--effect::before {
  /* Берем текст из атрибута HTML */
  content: attr(data-text); 
  position: absolute;
  inset: 0px; /* Растягиваем на всю кнопку (заменяет top, left, right, bottom: 0) */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Цвета для hover-эффекта */
  color: #ffffff; 
  background-color: #000; 
  
  /* Прячем в центр */
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

/* Анимация при наведении */
.button--effect:hover::before {
  clip-path: circle(80% at 50% 50%);
}
